html, body {
    margin: 0;
}
main {
    min-width: 350px; 
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}
ul {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.content-title {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2.5px;
    font-weight: normal;
}
@media screen and (max-width: 420px) {
    .content-title {
        font-size: 1.7rem;
    }
}

/* サイドバー */
#sidebar {
    width: 20%;
    background: #65a4c3;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transition: 0.3s all;
}
#sidebar .icon {
    display: flex;
    align-items: center;
    margin: 3vh 0 0 3vw;
    text-decoration: none;
    transition: 0.2s all;
}
#sidebar .icon-hide {
    opacity: 0;
}
#sidebar .icon img {
    height: 50px;
    border-radius: 50%;
}
#sidebar .icon span{
    font-size: 0.8rem;
    color: #fff;
    margin-left: 15px;
    letter-spacing: 1.5px;
}
#sidebar ul {
    width: fit-content;
    margin: 17vh 3vw 0;
    padding: 0;
}
#sidebar li {
    margin: 30px 0;
}
#sidebar li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: normal;
    transition: 0.2s all;
    letter-spacing: 2px;
}
#sidebar li a:hover {
    color: #bed8ff;
    
}
#sidebar .twitter_link{
    display: block;
    position: absolute;
    bottom: 3vh;
    left: 3vw;
}
#sidebar .twitter_link img{
    width: 35px;
}
.active {
    color: #00e3d2 !important;
}
@media screen and (max-width: 1024px) {
	#sidebar {
        width: 30%;
        right: -30%;
        z-index: 999;
    }
    #sidebar ul {
        margin: 10vh 6vw 0;
    }
    #sidebar .icon {
        margin: 10vh 0 0 6vw;
    }
    #sidebar .twitter_link{
        left: 6vw;
    }
}
@media screen and (max-width: 792px) {
	#sidebar {
        width: 35%;
        right: -35%;
        z-index: 999;
    }
    
    #sidebar li a {
        font-size: 1.3rem;
    }
} 
@media screen and (max-width: 599px) {
    #sidebar {
        width: 40%;
        right: -90%;
        z-index: 999;
        min-width: 320px;
    }
	
    #sidebar .icon img {
        height: 45px;
    }
} 
@media screen and (max-width: 420px) {
    #sidebar {
        width: 45%;
        right: -90%;
        z-index: 999;
    }
    #sidebar .icon img {
        height: 40px;
    }
}
/* サイドバー ここまで */


/* ハンバーガーメニュー */
#menu-btn-check:checked ~ #sidebar {
    right: 0;/*メニューを画面内へ*/
}
#menu-btn-check:checked ~ #menu-background {
    display: block;/*メニューを画面内へ*/
    opacity: 1;
    transition: 0.3s all;
}
#menu-background {
    display: none;
    z-index: 998;
    transition: 0.3s all;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-btn span:before,
.menu-btn span:after {
    transition: 0.2s all;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}

@media screen and (max-width: 1024px) {
	.menu-btn {
        display: block;
    }
}


/* スクロールアイコン */
#home .scroll {
    padding-top: 60px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #65a4c3; 
}
#home .scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #65a4c3;
    border-radius: 50px;
    box-sizing: border-box;
}
#home .scroll span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #65a4c3;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
@keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

.fade{
    opacity : 0;
    transition: opacity 0.5s;
  }
   
.fade.view{
    opacity: 1;
}

@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 599px) {
	
} 
@media screen and (max-width: 420px) {

}

  



    
