main {
    display: flex;
}

/* オープニングアニメーション */
#opening {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #65a4c3;
}
#opening span {
    display: inline-block;
    width: 11ch;
    font: bold 200% Consolas, Monaco, monospace;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    border-right: 2px solid transparent;
    animation: typing 0.9s steps(7), caret 0.3s steps(1) infinite;
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
}
@keyframes typing {
    from {
      width: 0;
    }
}
@keyframes caret {
    50% {
      border-right-color: currentColor;
    }
    100% {
        border-right:none;
    }
}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 792px) {
	
} 
@media screen and (max-width: 599px) {
	
} 
@media screen and (max-width: 420px) {
    
}




.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.area {
    scroll-snap-align: start;
    min-height: 100vh;
}
#top-contents {
    width: 80%;
    margin-right: 20%;
}
#top-contents section {
    /* padding: 40px; */
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 1024px) {
	#top-contents {
        width: 100%;
        margin-right: 0;
    }
}
@media screen and (max-width: 792px) {
	
} 
@media screen and (max-width: 599px) {
	
} 
@media screen and (max-width: 420px) {
    
}


#home {
    position: relative;
    overflow: hidden;
    background: #d8edf8;
}

#home .home-contents {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
#home .home-img {
    
}
#home .home-img img {
    width: 130px;
    border-radius: 50%;
}
#home .home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: 20px auto;
}
#home .home-text span {
    font-size: 1.6rem;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #333;
}
#home .home-text a {
    position: absolute;
    right: -60px;
}
#home .home-text a img {
    width: 40px;
    background: #65a4c3;
    border-radius: 50%;
}
#home .min-text {
    color: #999;
}
#home .min-text {
    font-size: 0.85rem;
    margin-top: 3px;
    display: block;
}
#home p {
    color: #333;
    margin: 25px 0;
    font-size: 1.1rem;
    line-height: 1.7;
    padding: 0 30px;
}
#home p .br-resp {
    display: none;
}

@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 792px) {
	#home .home-text h2 {
        font-size: 2.5rem;
    }
    #home p {
        font-size: 1rem;
        padding: 0 30px;
    }
    #home p .br-resp {
        display: block;
    }
} 
@media screen and (max-width: 599px) {
	#home .home-text h2 {
        font-size: 2.2rem;
    }
    #home p {
        font-size: 0.9rem;
        padding: 0 5px;
    }
} 
@media screen and (max-width: 420px) {
    #home .home-text h2 {
        font-size: 1.8rem;
    }
    #home p {
        font-size: 0.8rem;
    }
}


#works {
    background: #65a4c3;
    position: relative;
}
.work-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.work-contents ul {
    display: flex;
    flex-flow: wrap;
    padding: 30px 7vw 0;
    justify-content: center;
}
.work-contents li {
    width: 48%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #092146;
    position: relative;
    transition: 0.2s all;
}
.work-contents p {
    width: 100%;
    height: 18vw;
    background-position: center;
    background-size: cover;
}
.work-contents .title {
    padding: 15px 0;
    display: block;
    font-weight: inherit;
    transition: all 0.2s;
    color: #111;
    background: #fff;
    border-top: #38507a 1px solid;
}
.work-contents .screen {
    background: rgb(51, 85, 139,0.3);
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
}
.work-contents li:hover .screen {
    background: none;
}
.work-contents li:hover {
    transform: scale(1.06);
}
/* .work-contents p:hover + .title {
    color: #111;
    background: #fff;
} */
@media screen and (max-width: 1024px) {
    .work-contents p {
        height: 23vw;
    }
	.work-contents .screen {
        background: none;
    }
    .work-contents .title {
        color: #111;
    }
}
@media screen and (max-width: 792px) {
	.work-contents ul {
        padding: 30px 4vw 0;
    }
    .work-contents p {
        height: 25vw;
    }
} 
@media screen and (max-width: 599px) {
    .work-contents ul {
        padding: 30px 2vw 0;
    }
    .work-contents li {
        width: 98%;
        max-width: 350px;
    }
    .work-contents p {
        height: 47vw;
        max-height: 200px;
    }
	.work-contents .title {
        font-size: 0.85rem;
    }
} 
@media screen and (max-width: 420px) {
    .work-contents ul {
        padding: 30px 1vw 0;
    }
    .work-contents p {
        height: 55vw;
    }
    .work-contents .title {
        font-size: 0.75rem;
        font-weight: bold;
    }
}


#skill {
    background: #d8edf8;
    position: relative;
}
#skill .skill-contents {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
#skill .skill-contents h2 {
    color: #3d93bd;
    margin-bottom: 50px;
}
#skill .skill-contents ul {
    display: flex;
    flex-flow: wrap;
    padding: 0 20px;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto 0;
    gap: 20px;
}
#skill .skill-contents li {
    width: 7%;
    display: flex;
    justify-content: center;
    padding: 15px 15px 30px;
    background: rgba(255,255,255,0.85);
    border-radius: 10px;
    flex-flow: column;
    position: relative;
    max-width: 97px;
    box-shadow: 0px 10px 30px -5px rgb(0 0 0 / 10%);
}
#skill .skill-contents li img {
    width: 100%;
    max-height: 60px;
}
#skill .skill-contents li p {
    font-size: 0.8rem;
    margin-top: 3px;
    color: #141a2b;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translate(-50%, 0);
}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 792px) {
	#skill .skill-contents li {
        width: 10%;
        min-width: 70px;
    }
} 
@media screen and (max-width: 599px) {
    #skill .skill-contents ul {
        padding: 0 10px;
    }
    #skill .skill-contents li {
        min-width: 55px;
    }
    #skill .skill-contents li p {
        font-size: 0.75rem;
    }
    #skill .skill-contents h2 {
        font-size: 1.8rem;
    }
} 
@media screen and (max-width: 420px) {
    #skill .skill-contents h2 {
        font-size: 1.8rem;
    }
    #skill .skill-contents ul {
        padding: 0;
    }
    #skill .skill-contents li {
        min-width: 45px;
    }
    #skill .skill-contents li p {
        font-size: 0.6rem;
    }
    #skill .skill-contents li img {
        max-height: 45px;
    }
    
}


#achievement {
    background: #65a4c3;
    position: relative;
}
#achievement .achievement-contents {
    width: 100%;
}
#achievement .achievement-contents h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 50px 0;
}
.achievement {
    padding: 0 80px 100px;
    max-width: 800px;
    margin: 0 auto;
}
.s_01 {
    padding: 0 50px 100px;
}
.s_01 .accordion_one {
    max-width: 1024px;
    margin: 0 auto;
    background: #eee;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgb(0 0 0 / 10%);
}
.s_01 .accordion_one .accordion_header {
    color: #333;
    font-size: 1.1rem;
    padding: 10px 11% 10px 40px;
    position: relative;
    z-index: +1;
    cursor: pointer;
    transition-duration: 0.2s;
}
.s_01 .accordion_one .accordion_header:hover {
    opacity: .5;
    border-radius: 10px;
}
.s_01 .accordion_one .accordion_header .i_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
}
.s_01 .accordion_one .accordion_header .i_box .one_i {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
    position: relative;
}
.s_01 .accordion_one .accordion_header.open .i_box {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
.open-content {
    background: #011d46 !important;
}
.s_01 .accordion_one .accordion_header .i_box .one_i:before, 
.s_01 .accordion_one .accordion_header .i_box .one_i:after {
    display: flex;
    content: '';
    background-color: #666;
    border-radius: 10px;
    width: 18px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center center;
}
.s_01 .accordion_one .accordion_header .i_box .one_i:before {
    width: 4px;
    height: 18px;
    top: 0;
    left: 7px;
}
.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
    content: none;
}
.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.s_01 .accordion_one .accordion_inner {
    display: none;
    padding: 15px 40px 30px;
    box-sizing: border-box;
}
.s_01 .accordion_one .accordion_inner .box_one {

}
.s_01 .accordion_one .accordion_inner p.txt_a_ac {
    margin: 0 0 10px;
    color: #555;
    font-size: 0.9rem;
    line-height: 1.3;
}
    
@media screen and (max-width: 1024px) {
	#achievement .achievement-contents h2 {
        padding: 100px 0 50px;
    }
}
@media screen and (max-width: 792px) {
	.achievement {
        padding: 0 20px 100px;
        max-width: 600px;
    }
    .s_01 .accordion_one .accordion_header {
        font-size: 1.1rem;
    }
    .s_01 .accordion_one .accordion_inner {
        padding: 15px 30px 30px;
    }
    .s_01 .accordion_one .accordion_inner p.txt_a_ac {
        font-size: 0.8rem;
    }
} 
@media screen and (max-width: 599px) {
    #achievement .achievement-contents h2 {
        font-size: 1.8rem;
        
    }
    .s_01 {
        padding: 0 20px 100px;
    }
	.s_01 .accordion_one .accordion_header {
        font-size: 0.9rem;
    }
    .s_01 .accordion_one .accordion_header {
        padding: 10px 11%;
    }
    .s_01 .accordion_one .accordion_header .i_box {
        right: 1%;
    }
    .s_01 .accordion_one .accordion_inner {
        padding: 15px 10px 30px;
    }
} 
@media screen and (max-width: 420px) {
    .achievement {
        padding: 0 10px 100px;
    }
    .s_01 .accordion_one .accordion_header {
    }
    .s_01 .accordion_one .accordion_header {
        padding: 10px 15% 10px 10px;
        font-size: 0.8rem;
    }
    .s_01 .accordion_one .accordion_inner p.txt_a_ac {
        font-size: 0.7rem;
    }
}




/* モーダル関連 */
.modal {
    display: none;
}

.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.modal .modal-content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    padding: 20px;
    border-radius: 5px;
    max-height: 75%;
    overflow: scroll;
}
.modal .work-img {
    height: 30vh;
    max-height: 250px;
    margin: 0 auto;
    display: block;
    border: 3px solid #ddd;
}
.modal h3 {
    padding: 0 10vw;
    color: #555;
    margin: 0 0 5px;
    text-align: center;
}
.modal p {
    padding: 0 10vw;
    color: #555;
    font-size: 0.9rem;
    margin: 10px 0 0;
}
.modal ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.modal li {
    padding: 5px;
    background: rgba(255,255,255,0.8);
    margin: 0 1%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.modal li img {
    max-height: 40px;
    max-width: 60px;
    
}
.modal li p {
    display: none;
}
.modal a {
    color: #0c2854;
    display: block;
    margin: 20px auto;
    width: fit-content;
    transition: 0.2s all;
}
.modal a:hover {
    color: #a51d33;
}
@media screen and (max-width: 1024px) {
	.modal .modal-content {
        width: 75%;
    }
}
@media screen and (max-width: 792px) {
	.modal .modal-content {
        width: 85%;
    }
    .modal li img {
        max-height: 40px;
        max-width: 60px;
        
    }
} 
@media screen and (max-width: 599px) {
    .modal h3 {
        padding: 0;
        font-size: 1rem;
    }
    .modal p {
        padding: 0;
        font-size: 0.8rem;
    }
	.modal li {
        padding: 0;
    }
} 
@media screen and (max-width: 420px) {
    .modal a {
        margin: 20px auto 0;
    }

}

